# fly.toml app configuration file generated for lyalmha-america-api
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "lyalmha-america-api"
primary_region = "iad"

[build]
  [build.env]
    NODE_VERSION = "18.18.0"

[env]
  PORT = "5000"
  NODE_ENV = "production"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/"

[mounts]
  source = "data"
  destination = "/data"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
